<div
    style="z-index: 2;
    position: absolute;">
    {#icons' images' IMAGES OR VISIBLE CONTENT#}
    {{ include('@Home/home/configuration/iconImage/over.html.twig') }}
    {{ include('@Home/home/configuration/iconImage/edit.html.twig') }}

    {#icons' images' JAVASCRIPT CODE#}
    {{ include('@Home/home/configuration/iconImageAnimation/over.html.twig') }}
    {{ include('@Home/home/configuration/iconImageAnimation/edit.html.twig') }}
</div>