<div id='configurationIconContent'
     style="
     position: absolute;
     opacity: 0;
     z-index: 2;
     color: white;
     font-size: xx-large;">
    {{ include('@Configuration/Default/index.html.twig') }}
</div>