<div id='createIconContent'
     style="
     position: absolute;
     opacity: 0;
     z-index: 2;
     color: white;
     font-size: xx-large;
     width: 100%;">
    {{ include('@Create/Default/index.html.twig') }}    
</div>