<div id='profileIconContent'
     style="
     position: absolute;
     opacity: 0;
     z-index: 2;
     color: white;
     font-size: xx-large;">
    {{ include('@Profile/Default/index.html.twig') }}
</div>