<div id='qualityIconAnimation'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 0px;
     left: 60px;
     z-index: 1;
     transition-property: all;
     transition-duration: 1s;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;
         z-index: 1;' 
         src="files/images/icons/playBanner/quality.png" alt="Mountain View">
</div>

<div id='qualityIconDiv'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 0px;
     left: 60px;
     z-index: 1;
     transition-property: all;
     transition-duration: 1s;">
</div>

<script>
    var qualityIconDiv = document.getElementById("qualityIconDiv");
    
    qualityIconDiv.addEventListener("click", function () {
        qualityIconFunction();
    });
    
    function qualityIconFunction()
    {
        alert("QUALITY ICON!!! FUNCTION....");
    }
</script>