<div id='speedIconAnimation'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 0px;
     left: 90px;
     z-index: 1;
     transition-property: all;
     transition-duration: 1s;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;
         z-index: 1;' 
         src="files/images/icons/playBanner/speed.png" alt="Mountain View">
</div>

<div id='speedIconDiv'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 0px;
     left: 90px;
     z-index: 1;
     transition-property: all;
     transition-duration: 1s;">
</div>

<script>
    var speedIconDiv = document.getElementById("speedIconDiv");
    
    speedIconDiv.addEventListener("click", function () {
        speedIconFunction();
    });
    
    function speedIconFunction()
    {
        alert("SPEED ICON!!! FUNCTION....");
    }
</script>